*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}
body{
    font-family: 'Inter', sans-serif;
    background: black;
    color: #FFFFFF;
}

/* ----------------- header------------------ */

header{
    position: relative;
    height: 745px;
    width:100;
}

.img-bg{
    position: absolute;
    width: 100%;
    height: 745px;
}

.img-b{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 745px;
    background-color: rgba(0, 0, 0, 0.8);
}
.img-bg img{
    position: absolute;
    width: 100%;
    height: 745px;
    z-index: 0;
}

.nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 9999;
    display: flex;
    align-items: center;
    border-bottom: 0.5px solid #ACACAE;
    padding: 0 42px 0 40px;
}

.ulNav{
    display: flex;
    font-size: 100%;
}


nav{
    width: 100vw;
    height: 113px;
    background: rgba(2, 2, 2, 0.05);
    backdrop-filter: blur(17.5px);
}

nav img{
    margin-right: 364px;
}

.navbar ul li{
    list-style: none;
}

.navbar .ulNav a{
    font-size: 16px;
    margin:0 0 0 68px;
    text-decoration: none;
    color: #ACACAE;
}




.navbar .ulNav a:focus{
    border-left: 3px solid #F9CC11;
    height:35px;
    margin:0 0 0 41px;
    padding-left: 24px;
    border-radius: 2px;
}

.fb{
    padding-bottom: 7px;
}

.behance{
    padding-bottom: 7px;
}

.youtube{
    padding-bottom: 7px;
}

.instagram{
    padding-bottom: 7px;
}

.linkedin{
    padding-bottom: 7px;
}


.line{
    border-bottom: 7px  solid #F9CC11;
    width: 56vw ;
    border-radius: 7px;
}


.icon{
    box-sizing: border-box;
    width: 26px;
    height: 38px;
    border: 1.5px solid #FFFDFD;
    border-radius: 13px;
}
/*part2*/


.title{
    display: flex;
    position: absolute;
    left: 0;
    right: 0;
    z-index: 1;
    padding-top: 288px;
}

.socialM{
    display: flex;
    flex-direction: column;
    height: 228px;
    width: 35px;
    margin-left: 36px;
    padding-top: 32px;
}

.Text-bloc{
    width: 100vw;
    display: flex;
    flex-direction: column;
}

.Alaa{
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
}



.H1{
    font-size: 61px;
    font-weight: 700;
    padding-bottom: 32px;
}

.H2{
    font-weight: 400;
    font-size: 30px;
    padding-bottom: 58px;
}

.H3{
    font-size: 20px;
    font-weight: 300;
    padding-top: 32px; 
    padding-bottom: 100px;
}

/*part3 */


.mouse{
    position: absolute;
    bottom: 65px;
    left: 695px;
    width: 26px;
    height: 38px;
    border: 1px solid #FFFDFD;
    border-radius: 13px;
}

.mL{
    position:absolute;
    right: 30%;
    top: 20%;
    width: 10px;
    height: 0px;
    border: 1px solid #FFFDFD;
    transform: rotate(90deg);
    border-radius: 2px;
}

.m{
    position: absolute;
    width: 16px;
    height: 16px;
    border-right: 1px solid #FFFDFD;
    border-bottom: 1px solid #FFFDFD;
    border-left: transparent;
    border-top: transparent;
    transform: rotate(45deg);
    bottom: 54px;
    left: 700px;
}

/* ----------------- Experience------------------ */
.Experience .exp{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 174px;
}

.Experience .year{
    position: absolute;
    left: 730px;
    top: -10px;
    font-weight: 300;
    font-size: 16px;
    line-height: 22px;
    color: #F9CC11;
}

.Experience h1{
font-weight: 700;
font-size: 45px;
line-height: 54px;
text-transform: capitalize;
color: #F5F5F7;
}

.Experience p{
    margin-top:18px
    color: #F5F5F7;
}

.Experience .info{
    display: flex;
    justify-content: center;
    margin-top: 64px;
}

.Experience .left{
width: 586px;
font-weight: 300;
font-size: 16px;
line-height: 22px;
margin-right: 144px;
color: #ACACAE;
}

.Experience .right{
width: 586px;
font-weight: 300;
font-size: 16px;
line-height: 22px;
color: #ACACAE;
}

.Experience .top{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #F9CC11;
}

.Experience .more{
    display: flex;
    justify-content: center; 
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    margin-top: 64px;
}

.Experience a{
    color: #F9CC11;
}

/* start Specialized-in */
.Specialized-in{
    position: relative;
    overflow: hidden;
    width: 98.75vw;
    height: min-content;
    background-color: #000000;
}

.Specialized-in-header{
    width: 306px;
    height: 54px;
    color: #ffff;
    font-weight: 700;
    font-size: 45px;
    line-height: 54px;
    margin: 102px 530px 64px 530px;
}

.Specialized-in .three{
    position: absolute;
    left: 813px;
    top: 90px;
    color: #F9CC11;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
}

/* start slider */
/* start  slider-container*/
.slider-container{
    margin:0px;
    width: 1366px;
    height: 376px;
    position: relative;
}

.slider-container .slider-items{
    display: flex;
    gap: 68px;
    position: absolute;
    opacity: 0;
    width: 1286px;
    height: 376px;
    transition: opacity 2s;
    z-index: 1;
    margin:0px 40px;
}

.slider-container .slider-items.active{
    opacity: 1;
}

.slider-container .slider-items .slider-element{
    width: 382px;
    height: 372px;  
    background-color: #1D1C1C;
    border-radius: 8px;
    color:#F5F5F7;
}

.slider-container .slider-items .slider-element .slider-container-header{
    font-weight: 400;
    font-size: 30px;
    line-height: 40px;
    width: 140px;
    height: 80px;
    margin-left: 35px;
    margin-top: 64px;
}

.slider-container .slider-items .slider-element .slider-container-txt{
    font-weight: 300;
    font-size: 16px;
    line-height: 22px;
    width: 318px;
    height: 132px;
    margin: 32px 32px 64px 32px;
    color: #ACACAE;
}

.square1{
    position: absolute;
    width: 160px;
    height: 160px;
    z-index: 2;
    top: 216px;
    left: 36px;
    border-top: 8px solid #F9CC11;
    border-left: 8px solid #F9CC11;
}

.square2{
    position: absolute;
    width: 160px;
    height: 160px;
    z-index: 2;
    top: 216px;
    left: 486px;
    border-top: 8px solid #F9CC11;
    border-left: 8px solid #F9CC11;
}

.square3{
    position: absolute;
    width: 160px;
    height: 160px;
    z-index: 2;
    top: 216px;
    left: 936px;
    border-top: 8px solid #F9CC11;
    border-left: 8px solid #F9CC11;
}

/* end  slider-container*/

/* start  slider-controls*/
.slider-controls{
    display: flex;
    width: 1366px;
    margin-top: 64px; 
    margin-left: 180px; 
}

.slider-controls .prev,
.slider-controls .next{
    cursor: pointer;
    user-select: none;
    margin-right: 423px;
}

.slider-controls .indicators{
    padding-top: 1px;
    margin-right: 422px;
}

.slider-controls .indicators ul{
    display: flex;
    list-style: none;
    margin: 0;
}

.slider-controls .indicators ul li{
    display: inline-block;
    width: 28px;
    height: 28px;
    user-select: none;
    background-image: url('../img/circle.svg');
    background-repeat: no-repeat;
    cursor: pointer;
}

.slider-controls .indicators ul li.active{
    background-image: url('../img/seccircle.svg');
    background-repeat: no-repeat;
    user-select: none;
} 
/* end slider */

/* end Specialized-in */

/* start Clients */
.Clients{
    position: relative;
    overflow: hidden;
    width: 98.75vw;
    height: min-content;
    background-color: #000000;
}

.Clients-header{
    width: 156px;
    height: 54px;
    color: #ffff;
    font-weight: 700;
    font-size: 45px;
    line-height: 54px;
    margin: 105px 605px 65px 598px;
}

.Clients .fifty{
    position: absolute;
    left: 725px;
    top: 95px;
    color: #F9CC11;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
}

/* start slider */
/* start  slider-container*/
.sec-slider-container{
    margin:0px;
    width: 1366px;
    height: 57px;
    position: relative;
}

.sec-slider-container .slider-img{
    display: flex;
    gap: 90px;
    position: absolute;
    opacity: 0;
    width: 1366px;
    height: 57px;
    transition: opacity 2s;
    z-index: 1;
    margin: 0px;
    margin-left: -12px;
}

.sec-slider-container .slider-img.active{
    opacity: 1;
}

/* end  sec-slider-container*/

/* start  slider-controls*/
.sec-slider-controls{
    display: flex;
    width: 1366px;
    margin-top: 76px; 
    margin-left: 180px; 
}

.sec-slider-controls .prev,
.sec-slider-controls .next{
    cursor: pointer;
    user-select: none;
    margin-right: 423px;
}

.sec-slider-controls .indicators{
    padding-top: 1px;
    margin-right: 422px;
}

.sec-slider-controls .indicators ul{
    display: flex;
    list-style: none;
    margin: 0;
}

.sec-slider-controls .indicators ul li{
    display: inline-block;
    width: 28px;
    height: 28px;
    user-select: none;
    background-image: url('../img/circle.svg');
    background-repeat: no-repeat;
    cursor: pointer;
}

.sec-slider-controls .indicators ul li.active{
    background-image: url('../img/seccircle.svg');
    background-repeat: no-repeat;
    user-select: none;
} 
/* end slider */

/* end Specialized-in */

.flex {
    display: flex;
    flex-direction: column;
    gap: 6.4rem;
  }

.Achievement {
    position: relative;
    width: 100.6rem;
    height: 71.7rem;
    margin: 10.5rem auto;
}

.ten{
    position: absolute;
    left: 619px;
    top: -8px;
    color: #F9CC11;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
}

.AchievementHeadline {
    color: #f5f5f7;
    font-size: 4.5rem;
    font-weight: 700;
    align-self: center;
}

.AchievementChild {
    border-left: 0.2rem solid #f9cc11;
}

.AchievementHeader {
    padding-left: 2.4rem;
    margin-bottom: 1.8rem;
    display: flex;
    justify-content: space-between;
}

.jobTitle {
    font-size: 2.5rem;
    font-weight: 400;
    color: #f5f5f7;
}

.date {
    color: #f9cc11;
    font-size: 1.6rem;
    font-weight: 300;
    align-self: center;
}

.AchievementBody {
    margin-left: 2.4rem;
    color: #acacae;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 2.2rem;
}

.viewMore {
    font-size: 2rem;
    font-weight: 400;
    color: #f9cc11;
    text-decoration: underline;
    align-self: center;
}

.videos {
    position: relative;
    width: 128.7rem;
    height: 104.6rem;
    margin: 10.5rem auto 0px auto;
}

.nine{
    position: absolute;
    left: 683px;
    top: -8px;
    color: #F9CC11;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
}

.videosHeadline {
    color: #f5f5f7;
    font-size: 4.5rem;
    font-weight: 700;
    align-self: center;
}

.videosHeader {
    align-self: center;
}

.videoUl {
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 6.4rem;
}

.videoLi {
    font-size: 1.6rem;
    font-weight: 300;
    color: #acacae;
    cursor: pointer;
}

.videoLi a:focus {
    font-weight: 500;
    color: #f9cc11;
}

.videoLi a {
    text-decoration: none;
    color: #acacae;
}

.videoImg {
    width: 38.9rem;
    height: 21.3rem;
}

.videoimg1 {
    width: 83.3rem;
    height: 47.5rem;
}

.v1 {
    display: flex;
    gap: 6.4rem;
}

.v2 {
    display: flex;
    flex-direction: column;
    gap: 4.6rem;
}

.v3 {
    display: flex;
    margin-top: 4.8rem;
}

.videoimg6 {
    margin-left: 6.4rem;
}

.videoimg5 {
    margin-left: 5.5rem;
}

/* start Portfolio */
.Portfolio{
    position: relative;
    overflow: hidden;
    width: 98.79vw;
}

.Portfolio-header{
    width: 190px;
    height: 54px;
    color: #ffff;
    font-weight: 700;
    font-size: 45px;
    line-height: 54px;
    margin: 106px 0px 64px 567px;
}

.Portfolio .five{
    position: absolute;
    left: 718px;
    top: 90px;
    color: #F9CC11;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
}

.Portfolio .sections{
    display: flex;
    margin-left: 328px;
    margin-bottom: 60px;
    gap: 64px;
}
.Portfolio .sections a{
    text-decoration: none;
    color: #ACACAE;
    font-weight: 300;
    font-size: 16px;
    line-height: 22px;
}

.Portfolio .sections a:focus,
.Portfolio .sections a:hover{
    color: #F5F5F7;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    border-bottom: 1px solid #F9CC11;
}

/* start slider */

/* start  slider-container*/
.th-slider-container{
    margin:0px;
    width: 1366px;
    height: 254px;
    position: relative;
}

.th-slider-container .th-slider-items{
    display: flex;
    gap: 32px;
    position: absolute;
    opacity: 0;
    width: 1688px;
    height: 254px;
    transition: opacity 2s;
    z-index: 1;
    margin-left: -190px;
}

.th-slider-container .th-slider-items.active{
    opacity: 1;
}

.th-slider-container .th-slider-items .a{
position: absolute;
width: 324px;
height: 254px;
left: 100px;
top: 0px;
background: linear-gradient(90deg, #030303 0%, rgba(3, 3, 3, 0) 100%);
backdrop-filter: blur(4px);
}

.th-slider-container .th-slider-items .b{
    position: absolute;
    width: 324px;
    height: 254px;
    left: 1280px;
    top: 0px;
    background: linear-gradient(90deg, #030303 0%, rgba(3, 3, 3, 0) 100%);
    backdrop-filter: blur(4px);
    transform: rotate(-180deg);
    }

.th-slider-container .th-slider-items .th-slider-element{
    text-align: center;
    overflow: hidden;
    width: 404px;
    height: 254px;  
    background-color: #1D1C1C;
    border-radius: 8px;
    color:#F5F5F7;
}

.th-slider-container .th-slider-items .th-slider-element img{
    width: 407px;
    height: 200px;
}

.th-slider-container .th-slider-items .th-slider-element .slider-element-txt{
    display: flex;
    justify-content: flex-start;
    gap: 150px;
    margin-left: 16px;
    margin-top: 15px;
}

.th-slider-container .th-slider-items .th-slider-element .slider-element-txt .sec-span{
    color: #F9CC11;
    font-weight: 300;
    font-size: 16px;
    line-height: 22px;
    border-bottom: 1px solid #F9CC11;
}
/* end  slider-container*/

/* start  slider-controls*/
.th-slider-controls{
    display: flex;
    width: 1366px;
    margin-top: 65px; 
    margin-left: 180px; 
}

.th-slider-controls .prev,
.th-slider-controls .next{
    cursor: pointer;
    user-select: none;
    margin-right: 390px;
}

.th-slider-controls .indicators{
    padding-top: 1px;
    margin-right: 422px;
}

.th-slider-controls .indicators ul{
    display: flex;
    list-style: none;
    margin: 0;
}

.th-slider-controls .indicators ul li{
    display: inline-block;
    width: 28px;
    height: 28px;
    user-select: none;
    background-image: url('../img/circle.svg');
    background-repeat: no-repeat;
    cursor: pointer;
}

.th-slider-controls .indicators ul li.active{
    background-image: url('../img/seccircle.svg');
    background-repeat: no-repeat;
    user-select: none;
} 
/* end slider */

/* end Portfolio */

/* start Biography */
.Biography{
    width: 1284px;
    height: 594px;
    margin: 93.6px 40px;
    display: flex;
    flex-direction: column;
    gap: 64px;
}

.BioDown{
    height: 476px;
    width: 1284px;
}

.BioHeader{
    width: 224px;
    height: 54px;
    align-self: center;
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 54px;
    text-transform: capitalize;
    color: #F5F5F7;
}

.BioDown{
    display: flex;
    gap: 64px;
}

.BioContent{
    width: 858px;
    height: 404px;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 180%;
    margin-top: 36px;
    text-align: justify;
    letter-spacing: 0.08em;
    color: #F5F5F7;
}

.BioImg{
    width: 362px;
    position: relative;
    height: 476px;
}

/* end Biography */

.talk .exp{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 174px;
}
.talk .year{
    position: absolute;
    left: 670px;
    
font-family: 'Inter';
font-style: normal;
font-weight: 300;
font-size: 16px;
line-height: 22px;
color: #F9CC11;
}

.talk h1{
    margin-top: 10px;
font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 45px;
line-height: 54px;
text-transform: capitalize;
color: #F5F5F7;
}

.talk .top{
    margin-top: 64px;
}
.talk .te1{
    margin-right: 100px;

}
.talk .te2{
    margin-left: 100px;
}
.talk .te2,
.talk .te1{
width: 403px;
height: 48px;
text-align: center;
background: linear-gradient(102.21deg, rgba(187, 187, 187, 0.2) 1.03%, rgba(121, 121, 121, 0) 100%);
backdrop-filter: blur(10px);
border-bottom: 3px solid #F9CC11;
}

.talk textarea{


    
    margin-top: 63px;


box-sizing: border-box;

width: 1006px;
height: 468px;

background: linear-gradient(102.21deg, rgba(187, 187, 187, 0.2) 1.03%, rgba(121, 121, 121, 0) 100%);
backdrop-filter: blur(10px);
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 30px;
line-height: 40px;
text-align: center;


color: rgba(255, 255, 255, 0.5);


}

.talk .btn{
    margin-top: 64px;

width: 202px;
height: 60px;

background: #F9CC11;
border-radius: 10px;
cursor: pointer;

cursor: pointer;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 30px;
line-height: 40px;

color: #000000;
}

.talk .info1{

    display: flex;
    justify-content: space-around;
    margin-top: 92px;
}

.talk .re_in,
.talk .le_in{
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 30px;
line-height: 40px;
color: #ACACAE;
}
.talk .ins{
    width: 45px;
}
.talk .footer{
    display: flex;
    justify-content: center;
    color: #ACACAE;
margin-top: 67px;
padding-top: 22px;
padding-bottom: 22px;
border-top: 1px solid #FFFFFF;


}
.talk .footer img{
    margin-right: 10;
}

.talk .textarea::placeholder{
    color: #F5F5F7;
}


.bgimg{
    overflow: hidden;
    position: relative;
}
.bgimg-b{
    position: absolute;
    width: 1366 px;
    height: 3900px;
}

.bgimg-a{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 1366 px;
    height: 1060px;
    background-color: rgba(0, 0, 0, 0.5);
}
.bgimg-b img{
    position: absolute;
    width: 1366 px;
    height: 3900px;
    z-index: 0;
}